@font-face {
  font-family: 'MinecraftRegular';
  src: url('1_MinecraftRegular1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*::selection {
    color: #fff;
    background: #0BA34E;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'MinecraftRegular', monospace;
   overflow-y: scroll;
  scrollbar-gutter: stable;
}

nav{
    position: fixed;
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1{
    font-size: 1.6vw;
}

.nav-part2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4{
 font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
}
 
#page1{
   height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;  
  text-align: center;       
}

#page1 h1{
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight:800;
  line-height: 7.5vw;    
}

#page1 h1 svg{
    height: 5.5vw;
    border-radius: 50%;
    width: 5.5vw;
    background-color: #0BA34E;

}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

#page1-something{
  display: flex;
  justify-content: center;
  align-items: center;
}


#page1-something h4{
  display: inline-block;         
  margin-top: 0.5vw;                     
  padding: 5px 10px;             
  font-weight: 400;
  font-size: 1rem;
  text-transform: lowercase;
  border: 1px solid #a5a5a5;     
  border-radius: 50px;
  background: rgba(255,255,255,0.02);
  line-height: 1;
}
    
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}

#moving-div {
    /* margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%; */
    position: relative;
    margin-top: 10vh;
    bottom: unset;
    padding: 1.2vw;
    white-space: nowrap;
    overflow: hidden;
    width: 44%;

}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
}
}

#blur-left{
  height: 100%;
  width: 20%;
 background: linear-gradient(to left, transparent, #111);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#blur-right{
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#page2{
  height: 90vh;
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw ;
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
  justify-content: space-between;
}

#page2-left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

#page2-left p{
    font-size: 1.5vw;

}

#page2-left h5{
  width: 75%;
    font-size: 1.1vw;
    font-weight: 400;
}

#page2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
  position: relative;
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}

.right-elem h2{
  font-size: 1.4vw;
  font-weight: 400;
}

.right-elem img{
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  scale: 0;
}

#page3{
  height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-center{
  display: flex;
  align-items: center;
   flex-direction: column;
   padding: 1vw;
}

.page3-center .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.3vw;
  border-radius: 50%;
  background-color: #fff;
}

.page3-center .icon i{
  font-size: 2.8vw;
  color: #000;
}

.page3-center h5{
   font-size: 0.8vw;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 12px 26px 10px 26px;
    margin-top: 0.5vw;
    font-weight: 700;
    opacity: 0; 
    transition: all ease 0.5s;
    transform: translateY(16%);
    text-transform: uppercase;
}

.page3-center:hover h5{
  opacity: 1;
   transform: translateY(0);
}

#page3 video{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0.2);
  opacity: 0;
  border-radius: 30px;
}

#page4{
  height: 100vh;
  width: 100%;
  padding: 6vw 5vw 8vw 5vw; 
  position: relative;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  border-top: 1px solid #333;
  justify-content: space-between;
}

#page4 #page4-left{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 4.5vh;
}

#page4 #page4-left h3{
  font-size: 3.5vw;
  color: #111;
  line-height: 4vw;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 5vw;  
}

#page4 #page4-right{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}

#page4 p{
  font-size: 1.3vw;   
  font-weight: 300;
  color: #111;
}

#page4 h2{
  width: 75%;
  font-size: 1.1vw;
  font-weight: 400;
  color: #111111ad;
  opacity: 0.8;
}



#page4-bot{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
    padding: 20px;
}

#page4-bot > div{
    background: #f4f4f4;
    border-radius: 12px;
    padding: 40px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.08) inset;
}

#page4-bot h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    color: #000;
    letter-spacing: -1px;
}

#page4-bot h4{
    font-size: 15px;
    font-weight: 400;
    color: #6e6e6e;
    margin: 0;
    line-height: 22px;
}

#page5  {
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  padding-bottom: 13vh;
}

.section{
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13vh 10vw;
  padding-bottom: 0;
}

.sec-left{
  height: 100%;
  width: 25%;
  padding: 3vh;
  border-top: 2px solid #111;

}

.sec-left h2{
  font-size: 2.1vw;
  color: #111;
  line-height: 4vw;
  font-weight: 500;
}

.sec-left p{
  color: #111;
  margin-top: 10vh;
  font-size: 1.2vw;
}

.sec-right{
  height: 100%;
  width: 70%;
  position: relative;
}

.sec-right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}

#page6 {
    min-height: 100vh;
    background-color: #111;
    width: 100%;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page6 button {
    background-color: #0BA34E;
    padding: 0.9vw 2.5vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;
}

#page6-right {
    width: 70%;
}

#page6-right > p {
    font-size: 1.9vw;
}

#page6-right > p span {
    /* background-color: red; */
    width: 15vw;
    display: inline-block;
}

#page6-content {
    width: 100%;
    /* background-color: red; */
    margin-top: 5vh;
    padding: 5vh 0;
}

#page6-content h1 {
    font-size: 3vw;
    font-weight: 500;
}

#page6-content #flex {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#page6-content #flex h4 {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;

}

.page6-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    /* padding: 2vh 0; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    padding-top: 3vh;
    padding-bottom: 9vh;
    overflow: hidden;
    border-top: 1px solid #333;
    position: relative;
}

.page6-elem p {
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page6-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.page6-elem i {
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.over {
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    /* display: none; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page6-elem:hover h3 {
    padding-left: 1vw;

}

.page6-elem:hover i {
    padding-right: 1vw;
}

.page6-elem:hover .over {
    transform: translateY(0);
    /* display: initial; */
    opacity: 1;
}

.page6-elem:hover {
    border-top: 2px solid #fff;
}



summary::marker {
    content: " ";
}

.uiux {
    border-top: 1px solid #333;
    padding: 3vh 0;
}

.product {
    padding: 3vh 0;

    border-top: 1px solid #333;
}


#page7 {
  width: 100%;
  background: #111;   
  padding: 6vw 5vw 6vw 5vw;
  box-sizing: border-box;
  border-top: 1px solid #222;
}

#page7-heading {
    font-size: 3vw;              
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 5vw;
    margin-left: 0;
    line-height: 1;
    text-align: center;
}



#page7 .page7-intro p {
  color: rgba(255,255,255,0.95);
  max-width: 1200px;
  margin: -1vw auto 2.5vw auto;
  font-size: clamp(1rem, 1.6vw, 1.25rem);
  line-height: 1.45;
  text-align: center;
}


.page7-cards {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
  gap: 24px;
}


.page7-card {
  background: linear-gradient(180deg, #1b1b1b, #1f1f1f);
  border-radius: 10px;
  padding: 34px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(255,255,255,0.02);
  box-shadow: 0 2px 0 rgba(255,255,255,0.01) inset;
  transition: transform 0.22s ease, box-shadow 0.22s ease;
}

.page7-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}


.page7-card .card-arrow {
  position: absolute;
  right: 18px;
  top: 18px;
  width: 28px;
  height: 28px;
  display:flex;
  align-items:center;
  justify-content:center;
}


.page7-card h3 {
  font-size: clamp(1.1rem, 2.2vw, 1.5rem);
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: 700;
}

.page7-card p {
  margin-top: auto; 
  color: rgba(255,255,255,0.55);
  font-size: 0.96rem;
  line-height: 1.6;
  max-width: 86%;
}


#page8{
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 10vh 10vw;
}

#page8>h1{
  font-size: 5.5vw;
  color: #111;
  padding-left: 23vw;
  padding-right: 5vw;
  line-height: 5.8vw;
  padding-bottom: 10vh;
  border-bottom: 1px solid #dadada;
}

#page8-content{
  display: flex;
  color: #111;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vh 0;
}

#page8-content #right-8{
  width: 69%;
}

#page8-content #right-8 p{
  font-size: 1.5vw;
  line-height: 2.2vw;
  color: #111;
  margin-bottom: 5vh;
  width: 80%;
}

#blue-btn{
  background-color: #4f5bff;
  width: 15vw;
  height: 3.5vw;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#blue-btn h4{
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85vw;
}

#blue-btn h4 i {
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page8-bottom{
  height: 44vh;
  width: 100%;
  border-top: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#btm8-part1{
  border-right: 1px solid #dadada;
  width: 30%;
  height: 100%;
}

#btm8-part2{
  border-right: 1px solid #dadada;
  width: 28%;
  height: 100%;
}

#btm8-part3{
  border-right: 1px solid #dadada;
  width: 15%;
  height: 100%;
}

#btm8-part4{
  border-right: 1px solid #dadada;
  width: 15%;
  height: 100%;
}

#btm8-part5{
  width: 15%;
  height: 100%;
}

.btm8-parts{
  padding: 3vh 1vw ;
}

.btm8-parts h5{
  color: #000;
  font-weight: 500;
  font-size: 0.85vw;
  margin-bottom: 4vh;
}

.btm8-parts h4{
  background-color: #111;
  width: 75%;
  padding: 5px 10px;
  margin-bottom: 0.3vh;
  border-radius: 50px;
  font-size: 0.85vw;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.btm8-parts span{
  display: flex;
  align-items: center;
  width: 1.5vw;
  height: 1.5vw;
  justify-content: center;
  background-color: #333;
  padding: 0.5vw;
  border-radius: 50%;
  margin-right: 1vw;
}

#btm8-part2 h4:nth-child(2){
  transform: translateX(0);
}

#btm8-part2 h4:nth-child(3){
  transform: translateX(10%);
}

#btm8-part2 h4:nth-child(4){
  transform: translateX(20%);
}

#btm8-part2 h4:nth-child(5){
  transform: translateX(30%);
}

#btm8-part2 h4:nth-child(6){
  transform: translateX(40%);
}

#btm8-part2 h4:nth-child(7){
  transform: translateX(50%);
}

#page9 {
  min-height: 50vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-top: 60px; 
  gap: 50px; 
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
}

.line-container h3 {
  color: #000;
  font-weight: 600;
  white-space: nowrap;
}

.line-container hr {
  flex: 1;
  border: none;
  height: 2px;
  background-color: black;
  opacity: 0.5;
}

.footer-content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}i

.footer-text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 20px;
  opacity: 0.9;
}

.copyright {
  font-size: 0.9rem;
  color: #555;
  opacity: 0.8;
  margin-bottom: 25px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
  color: #000;
}

.social-icons a {
  color: black;
  font-size: 22px;
  border: 2px solid black;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a i {
  color: black;
}

.social-icons a:hover {
  background-color: #0BA34E;
  color: rgb(255, 255, 255);
  transform: translateY(-5px) scale(1.1);
}